<div class="container p-0">
    <div class="row m-0">
      <div class="col-sm p-0">
        <div class="card text-white bg-black">
          <div class="card-body">
            <h5 class="card-title mb-0"><a href="profile.html" class="text-light"><i class="fas fa-user-circle"></i> username</a> </h5>
          </div>
          <img src="3.jpg" class="card-img-top" alt="Random image">
          <div class="card-body">
            <p><i class="far fa-heart fa-lg pr-3"></i> <i class="far fa-comment fa-lg pr-3"></i> <i class="far fa-paper-plane fa-lg pr-3"></i> <i class="far fa-bookmark fa-lg float-right"></i></p>
            <p class="card-text">Some quick text to show you what a caption will look like once everything is working as it should.</p>

          </div>
        </div>
      </div>
      <div class="col-sm p-0">
        <div class="card text-white bg-black">
          <div class="card-body">
            <h5 class="card-title mb-0"><a href="profile.html" class="text-light"><i class="fas fa-user-circle"></i> username</a> </h5>
          </div>
          <img src="1.jpg" class="card-img-top" alt="Random image">
          <div class="card-body">
            <p><i class="far fa-heart fa-lg pr-3"></i> <i class="far fa-comment fa-lg pr-3"></i> <i class="far fa-paper-plane fa-lg pr-3"></i> <i class="far fa-bookmark fa-lg float-right"></i></p>
            <p class="card-text">Some quick text to show you what a caption will look like once everything is working as it should.</p>

          </div>
        </div>
      </div>
      <div class="col-sm p-0">
        <div class="card text-white bg-black">
          <div class="card-body">
            <h5 class="card-title mb-0"><a href="profile.html" class="text-light"><i class="fas fa-user-circle"></i> username</a> </h5>
          </div>
          <img src="2.jpg" class="card-img-top" alt="Random image">
          <div class="card-body">
            <p><i class="far fa-heart fa-lg pr-3"></i> <i class="far fa-comment fa-lg pr-3"></i> <i class="far fa-paper-plane fa-lg pr-3"></i> <i class="far fa-bookmark fa-lg float-right"></i></p>
            <p class="card-text">Some quick text to show you what a caption will look like once everything is working as it should.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
